<footer id="colophon" class="container">
    <div class="sixteen columns footer-area">
        <div class="region region-footer-first">
            <div id="block-block-3" class="block block-block">
                <div class="block-inner clearfix">
                    <div class="block-content" >
                        <!--<div class="partners">
                            <h2>Media partners</h2>
                            <div class="partner">
                                <a href=""><img src=""/></a>
                            </div>
                        </div>
                        -->
                    </div>
                </div>
            </div>
            <p>Copyright © 2014, The 5th International Conference on Knowledge Engineering and Semantic Web (KESW2014) </p>
        </div>
    </div>
</footer>
