<header id="head" role="banner" class="container">
    <hgroup class="ten columns alpha">
        <div id="logo">
            <a href="{{ site.url }}" title="KESW 2014">
                <img id="logo-img" src="{{ site.url }}/resources/kesw_logo.png" alt="KESW 2014"/>
            </a>
        </div>

        <div id="site-title-wrapper">
            <h1 id="site-title"><a href="{{ site.url }}" title="Home">KESW 2014</h1>
            <div class="site-slogan">The 5th Conference on Knowledge Engineering and Semantic Web, Kazan, Russia, October 6-8, 2014</div><!--site slogan-->
        </div>
    </hgroup>
    <div id="top-links" class="six columns omega">
        <div class="region region-top-links">
            <div id="block-block-1" class="block block-block">
                <div class="block-inner clearfix">
                    <div class="block-content" >
                        <p>
                            <a href="https://twitter.com/keswconference" class="twitter-follow-button" data-show-count="false" data-lang="en" data-show-screen-name="true">Follow @keswconference</a>
                        </p>
                        <script>
                            <!--//--><![CDATA[// ><!--
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
//--><!]]>
                        </script>
                        <p>
                            <a href="//www.youtube.com/subscription_center?add_user_id=TB-l0N7JFZV2hniUQaWS8Q&amp;feature=creators_cornier-//s.ytimg.com/yt/img/creators_corner/Subscribe_to_my_videos/YT_Subscribe_123x19_red.png"><img src="//s.ytimg.com/yt/img/creators_corner/Subscribe_to_my_videos/YT_Subscribe_123x19_red.png" alt="Subscribe to me on YouTube" /></a><img src="//www.youtube-nocookie.com/gen_204?feature=creators_cornier-//s.ytimg.com/yt/img/creators_corner/Subscribe_to_my_videos/YT_Subscribe_123x19_red.png" style="display: none" />
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
