<!--
Examples:

    - menu item: 
        <li class="leaf"><a href=""></a></li>
    
    - expandable menu item:
        <li class="expanded"><a href=""></a>
            <ul class="menu">
                <li class="first leaf"><a href=""></a></li>
                <li class="leaf"><a href=""></a></li>
                <li class="last leaf"><a href=""></a></li>
            </ul>
        </li>
-->

<div id="menu-wrapper" class="container">
    <nav id="main-menu" role="navigation" class="sixteen columns alpha omega">
        <div class="menu-navigation-container">
            <ul class="menu">
                {% for menu in site.data.menu %}
                    {% assign menuurl = menu.path | append: 'index.html' %}
                    <li class="{% if forloop.first %}first {% elsif forloop.last%}last {% endif %}{% if menu.children != null %}expanded{% else %}leaf{% endif %}">
                        <a href="{{ site.url }}{{ menu.path }}" {% if page.url == menuurl %}class="active"{% endif %}>{{ menu.label }}</a>
                        {% if menu.children != null %}
                            <ul class="menu">
                            {% for submenu in menu.children %}
                                <li class="{% if forloop.first %}first {% elsif forloop.last%}last {% endif %}leaf">
                                    <a href="{{ site.url }}{{ submenu.path}}" {% if page.path contains submenu.path %}class="active"{% endif %}>{{ submenu.label }}</a>
                                </li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
                <!--<li class="first leaf"><a href="{{ site.url }}/">Home</a></li>
                <li class="leaf"><a href="{{ site.url }}/news" class="{% if page.url contains '/news' %}active{% endif %}">News</a></li>
                <li class="expanded"><a href="{{ site.url }}/cfp" class="{% if page.url contains '/cfp' %}active{% endif %}">Calls</a>
                    <ul class="menu">
                        <li class="first leaf"><a href="{{ site.url }}/participation">Call for Participation</a></li>
                        <li class="last leaf"><a href="{{ site.url }}/submission">Call for Papers</a></li>
                    </ul>
                </li>
                <li class="leaf"><a href="{{ site.url }}/program">Program</a></li>
                <li class="expanded"><a href="{{ site.url }}/attending" title="">Attending</a>
                    <ul class="menu">
                        <li class="first leaf"><a href="{{ site.url }}/venue">Conference Venue</a></li>
                        <li class="last leaf"><a href="{{ site.url }}/school/venue">School Venue</a></li>
                    </ul>
                </li>
                <li class="leaf"><a href="{{ site.url }}/organization">Organization</a></li>
                <li class="leaf"><a href="{{ site.keynotes }}/keynotes">Invited Speakers</a></li>
                <li class="leaf"><a href="{{ site.school }}/school">School</a></li>
                <li class="last leaf"><a href="{{ site.url }}/contact" title="">Contact</a></li>-->
            </ul>
        </div>
  </nav>
</div>
