<aside id="sidebar-first" role="complementary" class="sidebar five columns">
    <div class="region region-sidebar-first">
        <div id="block-block-2" class="block block-block">
            <div class="block-inner clearfix">
                <div class="block-content" >
                    <center>
                        <h3>Sponsors</h3>
                        <hr />
                        <a href="http://kesw.ifmo.ru/kesw2013/sponsoring">» Become a Sponsor</a>
                        <hr />
                    </center>
                </div>
            </div>
        </div>
    </div>
</aside>
