<aside id="sidebar-first" role="complementary" class="sidebar five columns">
    <div class="region region-sidebar-first">
        <div id="block-block-2" class="block block-block">
            <div class="block-inner clearfix">
                <div class="block-content" >
                    <center>
						<!--Sponsors-->
                        <h3>Platinum Sponsors</h3>
						<div>
							<a href="http://www.rfbr.ru/rffi/eng"><img src="{{ site.url }}/resources/logo_rfbr.png" 
								style="margin: 5px; padding: 5px; background-image: url(http://www.rfbr.ru/rffi/page-proofs/lessBlocks/body-page/header/images/header-bg.png);"/>
							</a>
						</div>
                        <div><a href="http://www.ifmo.ru/en/"><img src="{{ site.url }}/resources/logo_itmo.png"/></a></div>
						<h3>Gold Sponsors</h3>
						<div><a href="http://www.sti2.org/"><img src="{{ site.url }}/resources/sti-logo.png"/></a></div>
						<br/>
                        <hr />
                        <a href="{{ site.url }}/becomeasponsor"><b>» Become a Sponsor</b></a>
                        <hr />
						<!--Twitter Timeline-->
						<a class="twitter-timeline" href="https://twitter.com/keswconference" 
							data-widget-id="474977736700604417" data-chrome="nofooter noborders transparent"
							data-show-replies="false">Tweets by @keswconference</a>
						<hr/>
						<!--Proceedings-->
                        <!--<p>Proceedings will be published by Springer in <a href="http://www.springer.com/series/7899">CCIS</a> series</p>
                        <img width="200px" src="/resources/springer.jpg"/>-->
                    </center>
                </div>
            </div>
        </div>
    </div>
</aside>
