---
layout: default
---

<div class="container" id="content-wrapper">
    <div id="content" class="eleven columns">
        <section id="post-content" role="main">
            <div class="region region-content">
                <div id="block-system-main" class="block block-system">
                    <div class="block-inner clearfix">
                        <div class="block-content" >
                            {{ content }}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    {% include sidebar.html %}

</div>
